In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')

In [2]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [3]:
#target separated
target = df.Survived
inputs = df.drop('Survived', axis='columns')

In [4]:
#dummies (one-hot-encoder)
dummies = pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [5]:
inputs = pd.concat([inputs, dummies], axis=1)
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [6]:
#Drop Sex
inputs.drop('Sex', axis=1, inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0

In [7]:
#check for NaN
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [8]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [9]:
#fill NaN by 'mean' value
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(7)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1
6       1  54.000000  51.8625       0     1

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2)

In [11]:
f',{len(inputs)=} | {len(X_train)=}, | {len(X_test)=}, | {len(y_train)=}, | {len(y_test)=}'

',len(inputs)=891 | len(X_train)=712, | len(X_test)=179, | len(y_train)=712, | len(y_test)=179'

In [12]:
X_train.columns

Index(['Pclass', 'Age', 'Fare', 'female', 'male'], dtype='object')

In [13]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [14]:
model.fit(X_train, y_train)

GaussianNB()

In [15]:
model.score(X_test, y_test)

0.7932960893854749

In [16]:
X_test[:10]

     Pclass   Age     Fare  female  male
554       3  22.0   7.7750       1     0
292       2  36.0  12.8750       0     1
682       3  20.0   9.2250       0     1
761       3  41.0   7.1250       0     1
399       2  28.0  12.6500       1     0
782       1  29.0  30.0000       0     1
294       3  24.0   7.8958       0     1
3         1  35.0  53.1000       1     0
326       3  61.0   6.2375       0     1
735       3  28.5  16.1000       0     1

In [17]:
y_test.iloc[0:10]

554    1
292    0
682    0
761    0
399    1
782    0
294    0
3      1
326    0
735    0
Name: Survived, dtype: int64

In [18]:
model.predict(X_test[:10])

array([1, 0, 0, 0, 1, 0, 0, 1, 0, 0])

In [19]:
model.predict_proba(X_test[:10])

array([[0.04754851, 0.95245149],
       [0.97615664, 0.02384336],
       [0.98557505, 0.01442495],
       [0.98866164, 0.01133836],
       [0.02578318, 0.97421682],
       [0.91291643, 0.08708357],
       [0.98667077, 0.01332923],
       [0.00509679, 0.99490321],
       [0.98600809, 0.01399191],
       [0.9877865 , 0.0122135 ]])

In [20]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.8041958 , 0.78321678, 0.78169014, 0.79577465, 0.72535211])